
.content{
    margin-bottom: 42px;
}
.totalBar {
    display: flex;
    justify-content: space-between;
    i {
        margin: 26px 0 16px 0;
    }
    p {
        margin: 16px 0 30px 0;
        font-size: 36px;
    }
    .total {
        width: 300px;
        height: 138px;
        text-align: center;
        background-color: #fff;
    }
}

.active{
    margin: 18px 0 20px 0;
    width: 100%;
    height: 500px;
    #chart {
        width: 100%;
        height: 500px
    }
      
}

.reve {
    p {
        color: #7ED321;
    }
}

.cost {
    p {
        color: #D0021B;
    }
}

.inco {
    p {
        color: #4A90E2;
    }
}

img {
    margin: 18px 0 20px 0;
}

.shopCard {
    display: flex;
    justify-content: space-between;
    // border: 1px solid black;
}

.media {
    position: relative;
    width: 460px;
    background-color: #fff;
    // border: 1px solid black;
    .title {
        margin: 30px 188px 0 40px;
        font-size: 24px;
        font-weight: bold;
    }
    .mediaStyel {
        display: flex;
        margin: 0 0 23px 40px;
        justify-content: space-between;
        height: 100px;
        border-bottom: 3px solid #EBEBEB;
        align-items: center;
        width: 380px;
        .web {
            color: #9b9b9b;
        }
    }
    .wo {
        border-bottom: none;
    }
}

.views {
    display: none;
}

.up {
    color: $f2eW1-fourth;
    &:hover {
        .views {
            display: block;
            position: absolute;
            bottom: 84%;
            left: 68%;
            width: 186px;
            height: 88px;
            background-color: black;
            text-align: center;
            .watch {
                color: $white;
                font-size: 14px;
            }
            .time {
                color: #9b9b9b;
                font-size: 14px;
                font-style: italic;
            }
            .trangle {
                @include triangle(15px, black, bottom);
                margin-left: 72px;
            }
        }
    }
}

.down {
    color: $f2eW1-first;
}

.order {
    width: 460px;
    // border: 1px solid black;
    background-color: #fff;
    .title {
        margin: 30px 188px 0 40px;
        font-size: 24px;
        font-weight: bold;
    }
   
}

 .people-1 {
     display: flex;
     margin: 0 40px 23px 40px;
     justify-content: space-between;
     align-items: center;
     border-bottom: 3px solid #EBEBEB;
     width: 380px;
     img {
         border: 1px solid black;
         width: 100px;
         height: 100px;
     }
     .date {
         .p {
             font-size: 20px;
             font-weight: bold;
         }
         .clock {
             display: flex;
             align-items: center;
             i {
                 margin-right: 7px;
                 color: #9b9b9b;
             }
             p {
                 color: #9b9b9b;
                 margin: 8px 0;
             }
         }
         .name {
             display: flex;
             align-items: center;
             height: 20px;
             i {
                 margin: 0 10px 0 3px;
                 color: #9b9b9b;
             }
             p {
                 color: #9b9b9b;
             }
         }
     }
     .buy {
         .total {
             margin: 35px 0 2px 12px;
         }
         .money {
             font-size: 20px;
             font-weight: bold;
         }
     }
 }


.people-1.noBorder{
        border-bottom: none;
}
