extends _layout.jade

block header
  #header
    .countainer-h
      p Shoptiome
      .item
        ul
         li 
           a(href="#") HOME
         li
           a(href="#") ORDERS
         li
           a(href="#") PRODUCT
      p ADMIN


block navbar
  #navbar
    .countainer-n
      .dateBar
        p OVERVIEW
        
        label(for="first")
        input(type="date", name="" id="first")
        img(src="", alt="none")
        label(for="secon")
        input(type="date", name="" id="secon")
        
        select(name="date")
          option(value="daily" selected="selected") Daily
          option(value="weekly") Weekly
          option(value="monthly") Monthly
          option(value="yearly") Yearly
          option(value="custom") Custom


block content 
  #content
    .countainer-c
      .totalBar
        .reve
          i TOTAL REVENUE
          p 54,540
        .cost
          i TOTAL COST
          p 12,660
        .inco
          i NET INCOME
          p 41,880
      
      .active
        img(src="http://lorempixel.com/940/406/", alt="none")

      .shopCard
        .media
          p Transaction Website
          ul
            li
              i Facebook.com
              p 45,836
              i 20%
               .views
                 p INCREASE 899 VIEWS
                 p last week 44,937
                 .trangle
                
            li
              i google.com
              p 23,582
              i 12%
            li
              i Shopify.com
              p 2,489
              i 20%
            li
              i Wordpress.com
              p 1,057
              i 30%

        .order
          p Last Orders
            ul
              li 
                img(src="http://lorempixel.com/100/100/", alt="none")
                p Vintage T-shirt
                .date
                  i 2018/6/13 13:42
                  p Total
                .name
                  i Belle Wille
                  p 3,200
               li 
                img(src="http://lorempixel.com/100/100/", alt="none")
                p Vintage T-shirt
                .date
                  i 2018/6/13 10:42
                  p Total
                .name
                  i Cowboy Jacket
                  p 2,800
               li 
                img(src="http://lorempixel.com/100/100/", alt="none")
                p Vintage T-shirt
                .date
                  i 2018/6/13 8:42
                  p Total
                .name
                  i Lura Holland
                  p 1,600



      
    