extends _layout.jade

block header
  #header
    .countainer-h
      p Shoptiome
      .item
         .home.style 
           a(href="#") HOME
         .orders.style 
           a(href="#") ORDERS
         .product.style 
           a(href="#") PRODUCT
      p.ad ADMIN
    //- hr


block navbar
  #navbar
    .countainer-n
      .dateBar
        p OVERVIEW
        .week
          label(for="first")
          input(type="date", name="" id="first")
          <i class="fas fa-caret-right"></i>
          label(for="secon")
          input(type="date", name="" id="secon")
        
        select(name="date")
          option(value="daily" selected="selected") Daily
          option(value="weekly") Weekly
          option(value="monthly") Monthly
          option(value="yearly") Yearly
          option(value="custom") Custom


block content 
  #content
    .countainer-n
      .totalBar
        .total.reve 
          <i class="fas fa-hand-holding-usd fa-lg"></i> TOTAL REVENUE
          p 54,540
        .total.cost
          <i class="fas fa-boxes fa-lg"></i> TOTAL COST
          p 12,660
        .total.inco
          <i class="fas fa-money-bill fa-lg"></i> NET INCOME
          p 41,880
      
      .active
        img(src="http://lorempixel.com/1342/500/", alt="none")

      .shopCard
        .media
            .title Transaction Website
            .mediaStyel.fb
              <i class="fab fa-facebook fa-3x"></i>
              .web Facebook.com
              p 45,836
              .up<i class="fas fa-arrow-up"></i> 
              .up 20%
               .views
                 p INCREASE <p style color="red">899</p>VIEWS
                 .time last week 44,937
                 .trangle
            .mediaStyel.go
              <i class="fab fa-google fa-3x"></i>
              .web google.com
              p 23,582
              .up<i class="fas fa-arrow-up"></i> 
              .up 12%
            .mediaStyel.am
              <i class="fab fa-amazon fa-3x"></i>
              .web Amazon.com
              p 2,489
              .down<i class="fas fa-arrow-down"></i> 
              .down 20%
            .mediaStyel.wo
              <i class="fab fa-wordpress fa-3x"></i>
              .web Wordpress.com
              p 1,057
              .down<i class="fas fa-arrow-down"></i>
              .down 30%

        .order
              .title Last Orders
              .people-1
                img(src="http://lorempixel.com/100/100/", alt="none")
                p Vintage T-shirt
                .date
                  i 2018/6/13 13:42
                  p Total
                .name
                  i Belle Wille
                  p 3,200
              .people-2
                img(src="http://lorempixel.com/100/100/", alt="none")
                p Vintage T-shirt
                .date
                  i 2018/6/13 10:42
                  p Total
                .name
                  i Cowboy Jacket
                  p 2,800
              .peaple-3 
                img(src="http://lorempixel.com/100/100/", alt="none")
                p Vintage T-shirt
                .date
                  i 2018/6/13 8:42
                  p Total
                .name
                  i Lura Holland
                  p 1,600



      
    